#TB_window, #TB_iframeContent {
	display: block;
}

#TB_iframeContent {
    z-index: 999999999 !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    background: transparent !important;
    -webkit-tap-highlight-color: transparent;

    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
    margin: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
	
	visibility: visible !important;
    opacity: 1 !important;
    padding: 0 !important;
    box-sizing: content-box !important;
    float: none !important;
    direction: ltr !important;
    text-indent: 0 !important;
    text-shadow: none !important;
    border: 0 none transparent !important;


}
.mako-book-now {
    position:fixed;
    bottom: 40px;
    right:40px;
}
.btn-mako-book-now {
    background: red;
    color:#fff;
    text-decoration: none;
    font-size:30px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;

}
.btn-mako-book-now svg {
    display: inline-block;
    fill: #fff;
    width: 50px;
    height: 50px;
    position: relative;
    top: 20px;
    left: 10px;
}



@media screen and (max-width: 720px) {
    .mako-book-now {
        width:100%;
        right: auto;
        left: 0;
        text-align: center;
    }
}